@charset "utf-8";
/* CSS Document */
/*------------------------ wrap ------------------------*/
.wrap section {
    padding: 40px;
}
.h2 {
    font-size: 26px;
}
.h2 span {
    font-size: 14px;
    padding: 10px 0 20px 0;
}
/*------------------------ header ------------------------*/
#header {
    height: 70px;
    padding: 20px;
}
#header h1 a {
    width: 130px;
    height: 34px;
    background-size: contain;
}
#gnb-wrap {
    display: none;
}
/*------------------------ visual ------------------------*/
.visual div {
    margin: 38% 0;
}
.visual div.txt strong {
    font-size: 42px;
}
.visual div.txt strong i {
    display: block;
    line-height: 34px;
}
.visual div.txt p {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 0 0;
}
.visual div.txt p i {
    display: block;
}
/*------------------------ contactus ------------------------*/
.contactus .h2 {
    float: none;
    margin: 0 0 30px 0;
}
.contactus .content .form-group {
    float: none;
    max-width: none;
}
.contactus .h2 > button {
    font-size: 14px;
    width: 100%;
    background-position: 73% 50%;
}
/*------------------------ news ------------------------*/
.news .notice {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-top: 20px;
}
.news .h2 {
    margin-bottom: 20px;
}
.more {
    top: 42px;
    right: 0;
}
/*------------------------ business, technology ------------------------*/
.item .textbox h3 {font-size: 20px; margin: 0;}
.item .textbox .title {font-size: 30px; margin: 10px 0;}
.item .textbox .text {font-size: 16px;}