<div class="pcContainer">
    <div class="foot-info">
        <img src="./images/2022/footLogo.svg" alt="공감아이티 푸터로고" />
        <div class="fi-cont">
            <div class="address">
                <dl>
                    <dt>본사</dt>
                    <dd>충청남도 계룡시 서금암3길 5, 206호</dd>
                </dl>
                <dl>
                    <dt>연구소</dt>
                    <dd>대전광역시 유성구 왕가봉로22, 덕원빌딩 502호&nbsp;&nbsp;&nbsp;<b>Tel</b> : 042-822-2799&nbsp;&nbsp;&nbsp;<b>Fax</b> : 042-822-4799</dd>
                </dl>									
            </div>
            <p class="copyright">Copyrights © kongamit Inc. All rights reserved.</p>
        </div>
    </div>
    <div class="foot-link">
        <a href="javascript:alert('준비중입니다.');">이용약관</a>
        <a  href="javascript:alert('준비중입니다.');">개인정보처리방침</a>
    </div>
</div>

