<!-- JS file -->
<script src="/js/2022/layout.js"></script>

<div class="pcContainer">
    <h1> <a href="/" title="홈으로"> 홈으로</a> </h1>
    <ul class="gnb" id="gnb">
        <li><a href="sub0101.html">회사소개</a>
            <!--ul>
                <li><a href="sub01.html#greeting-wrap">인사말</a></li>
                <li><a href="sub01.html#history-wrap">연혁</a></li>
                <li><a href="sub01.html#organization-wrap">조직도</a></li>
                <li><a href="sub01.html#location-wrap">오시는길</a></li>
            </ul-->
            <ul class="sub">
                <li><a href="sub0101.html">인사말</a></li>
                <li><a href="sub0102.html">연혁</a></li>
                <li><a href="sub0103.html">조직도</a></li>
                <li><a href="sub0104.html">오시는길</a></li>
            </ul>
        </li>
        <li><a href="sub0604.html">솔루션</a>
            <ul class="sub">
                <li><a href="sub0604.html">INTOUS 서비스란?</a></li>
                <li><a href="sub0601.html">INTOUS QM/MM</a></li>
                <li><a href="sub0602.html">INTOUS ESB</a></li>
                <li><a href="sub0603.html">INTOUS ETL</a></li>
            </ul>
        </li>
        <li><a href="sub0701.html">비즈니스</a>
            <ul class="sub">
                <li><a href="sub0701.html">AI분석활용서비스</a></li>
                <li><a href="sub0702.html">위치기반 서비스</a></li>
                <li><a href="sub0703.html">SI/SM 서비스</a></li>
            </ul>
        </li>
        <li><a href="sub0401.html">고객지원</a>
            <ul class="sub">
                <li><a href="sub0401.html">공지사항</a></li>
                <li><a href="sub0402.html">뉴스&보도자료</a></li>
                <li><a href="sub0403.html">문의하기</a></li>
            </ul>
        </li>
        <li><a href="sub0501.html">채용안내</a>
            <ul class="sub">
                <li><a href="sub0501.html">인사제도</a></li>
                <li><a href="sub0502.html">복리후생</a></li>
                <li><a href="sub0503.html">채용안내/공고</a></li>
            </ul>
        </li>
    </ul>
    <button type="button" title="문의하기" class="openCU">문의하기</button>
</div>

<article class="popup-contactUs">
    <div class="cu-wrap">
        <div class="head">
            <div class="pcContainer">
                <h3>contact us</h3>
                <p>궁금하신 사항은 문의하기를 이용해주세요. 담당자가 자세하게 안내해드리겠습니다.</p>
                <button type="button" class="close" title="닫기"><i class="ico-close"></i>닫기</button>
            </div>        
        </div>
        <div class="cont">
            <div class="pcContainer">
                <div class="cont-wrap"><div class="cont-inner">
                    <div class="tBox">
                        <label for="Input-1">이름</label>
                        <input type="text" id="Input-1" name="Input-1" autocomplete="off"  />
                    </div>      
                    <div class="tBox">
                        <label for="Input-2">비밀번호</label>
                        <input type="text" id="Input-2" name="Input-2" autocomplete="off"  />
                    </div>      
                    <div class="tBox">
                        <label for="Input-3">이메일 주소</label>
                        <input type="text" id="Input-3" name="Input-3" autocomplete="off"  />
                    </div> 
                    <div class="tBox">
                        <label for="Input-4">홈페이지 주소</label>
                        <input type="text" id="Input-4" name="Input-4" autocomplete="off"  />
                    </div>   
                    <div class="tBox">
                        <label for="Input-5">제목</label>
                        <input type="text" id="Input-5" name="Input-5" autocomplete="off"  />
                    </div>       
                    <div class="taBox">
                        <label for="textarea-1">내용</label>
                        <textarea id="textarea-1" name="textarea-1" cols="20" rows="20"></textarea>
                    </div> 
                    <div class="cBox"> 
                        <input type="checkbox" id="sc-term-00" class="allCheck" /> 
                        <label for="sc-term-00"><i class="ico-check"></i><span><b>이메일 수집에 동의합니다.</b>해당 문의에 대한 회신 목적으로 이메일을 수집하며, 상담 후 파기합니다.</span></label>
                    </div>   
                </div></div>
            </div>
        </div>
        <div class="foot">
            <div class="pcContainer">
                <div class="linkArea center">
                    <button type="button" class="grey">문의하기</button>
                </div>
            </div>
        </div>
    </div>
</article>