<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공감아이티</title>
    <link rel="shortcut icon" type="image/x-icon" href="./images/2022/favicon.ico">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="css/style_normal.css">
    <!--AOS 라이브러리-->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- CSS file :: 2022 renewal -->
    <link rel="stylesheet" href="./css/2022/common.css">
    <link rel="stylesheet" href="./css/2022/layout.css">

    <!-- JS file -->
    <script src="./js/2022/jquery-1.11.0.min.js"></script>
    <script src="./js/2022/slick.js"></script>

    <!-- include file -->
    <script type="text/javascript">   
        $(function(){
            $("#header").load("header.html");
            $("#header").addClass('sub');
            $("#footer").load("footer.html");
        })        		
    </script>
    
    </head>
<body>
    <!--AOS 라이브러리-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-sine',
            /*easing: 'ease-out-back',*/
            duration: 1000
        });
    </script>    
    <header id="header"></header>
    <div class="wrap">
        <div class="header-wrap">            
            <div class="bg"></div>           
        </div>
        <section class="sub-visual" id="sub-company">
            <div class="txt" data-aos="fade-up">
                <strong>회사소개</strong>
                <p>공감아이티는 응용 소프트웨어 개발 전문 기업입니다.</p>
            </div>
        </section>
        <div id="tabbar">
            <div class="button-group w_25">
                <button class="tablinks" onClick="location.href='sub0101.html'">인사말</button>
                <button class="tablinks active" onClick="location.href='sub0102.html'">연혁</button>
                <button class="tablinks" onClick="location.href='sub0103.html'">조직도</button>
                <button class="tablinks" onClick="location.href='sub0104.html'">오시는길</button>
            </div>
        </div>
        <section class="sub-contents" id="company">
            <div id="history" class="tabcontent_scroll">
                <div class="content">
                    <h3>연혁</h3>
                    <p class="mb60">㈜공감아이티는 고객이 필요로 하는 <span>정보시스템을 직접 컨설팅하고 맞춤형 프로그램을 구축하여 서비스하는 SI전문 기업입니다.</span><em>전자정부 표준프레임워크를 기반으로 업무 및 환경분석을 통해 고객이 원하는 최적의 시스템과 환경을 구축하기 위하여 최선을 노력을 다하고 있습니다.</em></p>
                    <div class="evennumber" id="year_2020">
                        <dl>
                            <dt>2020</dt>
                            <dd><span>~12월</span>정보통신공사업 등록</dd>
                            <dd><span>~12월</span>논산시 공간정보시스템 통합유지보수</dd>
                            <dd><span>~12월</span>충청남도 공간정보 통합플랫폼 구축</dd>
                            <dd><span>~12월</span>빅데이터 플랫폼 및 센터 구축 사업</dd>
                            <dd><span>~12월</span>데이터 수집/적제 솔루션  출시<br><em>(INTOUS ESB)</em></dd>
                            <dd><span>~12월</span>데이터 거버넌스 솔루션 개발<br><em>(INTOUS QM/MM)</em></dd>
                        </dl>
                    </div>
                    <div class="oddnumber" id="year_2019">
                        <dl>
                            <dt>2019</dt>
                            <dd><span>~12월</span>여성기업인증</dd>
                            <dd><span>~12월</span>충청남도 로드킬바로신고 시스템 구축</dd>
                            <dd><span>~12월</span>소방공무원 보건안전 관리시스템 구축</dd>
                            <dd><span>~12월</span>작물연구정보화 위탁관리용역</dd>
                        </dl>
                    </div>
                    <div class="evennumber" id="year_2018">
                        <dl>
                            <dt>2018</dt>
                            <dd><span>01월</span>기업부설연구소 설립</dd>
                            <dd><span>~12월</span>측량업(지도제작업)등록</dd>
                            <dd><span>~12월</span>복합 재난 예측 시나리오 재난 설정 및<br>연계 모듈 개발</dd>
                            <dd><span>~12월</span>시계열정사영상 관리시스템 구축</dd>
                            <dd><span>~12월</span>한국형 e-Nav 전자 해도 공급 및<br>모니터링 시스템 개발</dd>
                            <dd><span>~12월</span>충청남도 재난안전포털 고도화(2차)사업</dd>
                            <dd><span>~12월</span>위치기반증강현실(AR) 플랫폼 구축 용역</dd>
                        </dl>
                    </div>
                    <div class="oddnumber" id="year_2017">
                        <dl>
                            <dt>2017</dt>
                            <dd><span>12월</span>특허기술이전 3건
                                <ul>
                                    <li>실시간 교통정보 기반의 경로정보 제공 시스템과 방법 및 이를 위한 이동통신 단말기</li>
                                    <li>POI 정보 등록 시스템 및 그 방법</li>
                                    <li>웹서버의 서비스 품질 측정 시스템 및 방법</li>
                                </ul>
                            </dd>
                            <dd><span>03월</span>벤처기업인증</dd>
                        </dl>
                    </div>
                    <div class="evennumber" id="year_2016">
                        <dl>
                            <dt>2016</dt>
                            <dd><span>~12월</span>3차원 생활공간정보시스템<br>액티브X 제거사업</dd>
                            <dd><span>~12월</span>축산농장 종합지원시스템<br>(한우리, 돼지)구축</dd>
                            <dd><span>~12월</span>토양환경정보시스템 고도화</dd>
                            <dd><span>04월</span>본사 이전<em>(충남논산시)</em></dd>
                            <dd><span>03월</span>대전 사무실 개소<em>(대전 서구 월평동)</em></dd>
                            <dd><span>03월</span>직접생산증명서 취득
                                <ul>
                                    <li>공간정보 데이터베이스 및 시스템 구축</li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <div class="oddnumber" id="year_2016">
                        <dl>
                            <dt>2015</dt>
                            <dd><span>12월</span>사무실 개소<em>(세종시)</em></dd>
                            <dd><span>12월</span>소프트웨어사업자신고</dd>
                            <dd><span>12월</span>직접생산확인증명서 취득
                                <ul>
                                    <li>전산업무(소프트웨어개발)</li>
                                </ul>
                            </dd>
                            <dd><span>11월</span>전산업무(소프트웨어개발)</dd>
                        </dl>
                    </div>
                </div>                
            </div>
        </section>
        <footer id="footer"></footer>
    </div>
</body>
<!-- <script>
    //sticky
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("tabbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
        navbar.classList.remove("sticky");
    }
    }
</script> -->
</html>