<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>공감아이티</title>
    <link rel="shortcut icon" type="image/x-icon" href="./images/2022/favicon.ico">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link rel="stylesheet" href="css/style_normal.css">
    
    <!--AOS 라이브러리-->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- CSS file :: 2022 renewal -->
    <link rel="stylesheet" href="./css/2022/common.css">
    <link rel="stylesheet" href="./css/2022/layout.css">

    <!-- JS file -->
    <script src="./js/2022/jquery-1.11.0.min.js"></script>
    <script src="./js/2022/slick.js"></script>

    <!-- include file -->
    <script type="text/javascript">   
        $(function(){
            $("#header").load("header.html");
            $("#header").addClass('sub');
            $("#footer").load("footer.html");
        })        		
    </script>
    
</head>
<body>
    <!--AOS 라이브러리-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-sine',
            /*easing: 'ease-out-back',*/
            duration: 1000
        });
    </script>    
    <header id="header"></header>
    <div class="wrap">
        <div class="header-wrap">
            <div class="bg"></div>           
        </div>
        <section class="sub-visual" id="sub-technology">
            <div class="txt" data-aos="fade-up">
                <strong>주요보유기술</strong>
                <p>공감아이티는 응용 소프트웨어 개발 전문 기업입니다.</p>
            </div>
        </section>
        <div id="tabbar">
            <div class="button-group w_50">
                <button class="tablinks" onClick="location.href='sub0301.html'">Web GIS 기술</button>
                <button class="tablinks active" onClick="location.href='sub0304.html'">위치기반응용</button>
            </div>
        </div>
        <section class="sub-contents" id="technology-area">
            <div class="content">
                <div id="technology02-wrap" class="tabcontent_tab" style="display: block;">
                    <h3 class="mt40">내위치 기반 길안내 서비스</h3>
                    <ul class="list mb20">
                        <li>모바일 기기에 내장된 GPS와 IT기술 융합</li>
                        <li>내가 있는 위치 중심으로 주변 위치시설 조회</li>
                        <li>지도 API를 활용하여 주변 위치 시설과의 길안내 서비스 제공</li>
                    </ul>
                    <div class="graybox">
                        <div class="img"><br><br><img src="images/technology08.gif"><br><br></div>
                    </div>
                    <h3 class="mt40">위치기반 증강현실(AR)</h3>
                    <ul class="list mb20">
                        <li>증강현실(Augmenter realitry): 현실의 이미지나 배경에 3차원 가상 이미지를 겹쳐서 하나의 영상으로 보여주는 기술(ex : 포켓몬고)</li>
                        <li>현실의 건물이나 토지에 현재 위치를 계산하여 행정, 의료, 재난안전, 시설물 관리 등 공공·민간 산업 분야에서 활용도가 놓은 데이터를 접목하여 현실 공간에<br>시각화하여 제공</li>
                    </ul>
                    <div class="graybox" id="AR">
                        <dl>
                            <dt>증강현실 기술활용분야</dt>
                            <dd>
                                <div>
                                    <img src="./images/img-07.png">
                                    <span>재난 ㆍ재해 안전관리</span>
                                </div>
                                <div>
                                    <img src="./images/img-08.png">
                                    <span>문화관광</span>
                                </div>
                                <div>
                                    <img src="./images/img-09.png">
                                    <span>생활안전</span>
                                </div>
                                <div>
                                    <img src="./images/img-10.png">
                                    <span>부동산</span>
                                </div>
                                <div>
                                    <img src="./images/img-11.png">
                                    <span>생활편의</span>
                                </div>
                                <div>
                                    <img src="./images/img-12.png">
                                    <span>범죄예방</span>
                                </div>
                            </dd>
                        </dl>
                        <dl class="mt40">
                            <dt>위치기반 증강현실시스템 구현 예시</dt>
                            <dd>
                                <div>
                                    <img src="./images/img-13.png">
                                    <span>Map</span>
                                </div>
                                <div>
                                    <img src="./images/img-14.png">
                                    <span>Map + 지적도</span>
                                </div>
                                <div>
                                    <img src="./images/img-15.png">
                                    <span>Map + 지적도 + AR</span>
                                </div>
                                <div>
                                    <img src="./images/img-16.png">
                                    <span>위치기반증강현실</span>
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <h3 class="mt40">위치기반 실시간 열스트레스 제공 기술</h3>
                    <ul class="list mb20">
                        <li>기상청에서 3시간 단위로 발표하는 기상예보를 바탕으로 열스트레스 정보를 생성 축척하고 지역별로 예측되는 열스트레스정보를<br>GIS 기술을 적용 지도화면으로 표출하고, 열스트레스에 따른 각종 정보를 SMS로 전송하는 기술</li>
                    </ul>
                    <div class="graybox" id="AR">
                        <dl>
                            <dt>활용예시</dt>
                            <dd>
                                <div>
                                    <img src="./images/img-17.gif">
                                </div>
                                <div>
                                    <img src="./images/img-18.gif">
                                </div>
                                <div>
                                    <img src="./images/img-19.gif">
                                </div>
                            </dd>
                        </dl>
                        <p>한우, 젖소, 돼지, 가금 등 열스트레스 모형과 기상정보를 결합하여 해당 농장주에게 실시간 열스트레스 정보제공</p>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer"></footer>
    </div>
</body>
<script>
    //tab
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent_tab");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // //sticky
    // window.onscroll = function() {myFunction()};

    // var navbar = document.getElementById("tabbar");
    // var sticky = navbar.offsetTop;

    // function myFunction() {
    // if (window.pageYOffset >= sticky) {
    //     navbar.classList.add("sticky")
    // } else {
    //     navbar.classList.remove("sticky");
    // }
    // }
</script>
</html>